.auth {
    display: flex;
    align-items: center;
    position: absolute;
    right: 66px;

}

.auth__user {
    display: flex;
    margin-right: 26px;
    align-items: center;
    position: relative;
}

.auth__user::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 36px;
    left: calc(100% + 12px) ;
    border-right: 1px solid #823B00;
}

.auth__user-img {
    margin-right: 6px;
}

.auth__user-name {
    margin-bottom: 0;
    font-size: 16px;
}

.auth__user-text {
    margin-bottom: 0;
    position: relative;
    font-size: 16px;
    color: #FF7506;
}

.auth__user-text::after {
    content: "";
    position: absolute;
    width: 73px;
    height: 1px;
    top :calc(50% + 12px);
    left: 0px;
    background: #FF7506;
}

